@media (max-width: 480px) {
    .DoughnutChart {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 481px) {
    .DoughnutChart {
        height: 320px;
        width: 320px;
    }
}

.DoughnutChart {
    display: block;
    float: left;
    margin: 0%;
    margin-left: 1px;
    margin-right: 1px;
    border-style: groove;
    border-radius: 1px;
    border-color: white;
    border-radius: 5px;
}

.Headline {
    width: 100%;
    height: 6%;
    margin: 0%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* font family from Bootstrap */
}

.Chart {
    margin-left: 3%;
    width: 94%;
    height: 94%;

}