@media (orientation: landscape) {
  #new-form {
    box-sizing: border-box;
    width: 100%;
    padding: 0% 2%;
  }
}

.button-group {
  box-sizing: border-box;
  margin-top: 0.3rem;
}

.File-Viewer {
  box-sizing: border-box;
  border: 1px solid #ced4da;
}

.uploaded-files-preview {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;	
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-text-2 {
  text-align: right;
  opacity: 50%;
}

.card-text {
  margin-bottom: 0;
}