@media (max-width: 480px) {
    .Feed {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 481px) {
    .Feed {
        width: 320px;
        height: 320px;
    }
}

.Feed {
    display: block;
    float: left;
    margin-top: 0%;
    margin-left: 1px;
    margin-right: 1px;
    border-style: groove;
    border-color: white;
    border-radius: 5px;
    
}

.HeadLine {
    width: 100%;
    height: 6%;
    margin:0%;
    margin-bottom: 3%;
    text-align: center;
    font-weight: bold;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* font family from Bootstrap */
}

.lastReports {
    margin: 0%;
    display: block;
    width: 100%;
    height: 94%;
}

.SingleReport {
    width: 99%;
    margin-left: 0.5%;
    margin-bottom: 0%;
    margin-bottom: 2%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: block;
    min-height: 20%;
}

.SingleReport:hover {
    background-color:lightskyblue;
}

.title {
    width: 98%;
    height: 40%;
    margin: 0%;
    margin-left: 1%;
    display: inline-block;
    font-weight: 500;
    border-bottom-style: solid;
    border-width: 1px;

    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title:empty::before {
    content: "";
    display: inline-block; 
}

.discription {
    display: inline-block;
    width: 99%;
    height: 40%;
    margin: 0%;
    margin-left: 1%;
    margin-bottom: 3%;
    font-size: 90%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.discriptionBold {
    font-weight: 500;
}

.discriptionItalic {
    font-style: italic;
}

.discription:empty::before {
    content: "";
    display: inline-block;
}

.date {
    float: right;
    display: block;
    margin: 0%;
    margin-right: 1%;
    margin-top: -5%;
    font-size: 65%;
    color: gray;
}